body {
  height: 100vh;
  margin: 0;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #f0f0f0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}
