@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Inter", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  position: fixed;
  z-index: 100;
  max-width: 1400px;
  height: 80px;
  margin: 0 auto;
  right: 0;
  left: 0;
  padding-right: 32px;
  padding-left: 20px;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #010541;
}

.header__logo {
  width: 312px;
}

.header__logo-title {
  position: absolute;
  left: 65px;
  top: 25px;
}

.header__button {
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__button svg:hover {
  fill: #da4a0c;
}

.header__button svg:active {
  fill: #a93a09;
}

.header__button-count {
  width: 14px;
  height: 14px;
  position: absolute;
  top: -5px;
  left: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  background-color: #da4a0c;
  color: #ffffff;
  border: none;
  border-radius: 10px;
}

.breadcrumbs {
  padding-top: 99px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: "Inter", sans-serif;
}

.breadcrumbs__list {
  display: flex;
  gap: 4px;
}

.breadcrumbs__link {
  color: #008cf0;
}

.breadcrumbs__link:hover {
  color: #f36223;
}

.title {
  margin: 0;
  margin-bottom: 31px;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  font-family: "Inter", sans-serif;
}

.button {
  border: none;
  cursor: pointer;
}

.gallery {
  margin-bottom: 30px;
}

.gallery__list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.flex-container {
  display: flex;
  gap: 100px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.price {
  padding: 20px;
  margin-bottom: 40px;
  border: 1px solid #eeeeee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.price__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__old {
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  font-family: "Inter", sans-serif;
  text-decoration-line: line-through;
  color: #888888;
}

.price__discount {
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 24px;
  padding: 4px 8px;
  background: #f36223;
  color: #ffffff;
  border-radius: 500px;
}

.price__like {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.price__like svg {
  fill: #888888;
}

.price__like svg:hover {
  fill: #f36223;
}

.price__like svg:active {
  fill: #a93a09;
}

.price__new {
  margin-top: 14px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  font-family: "Inter", sans-serif;
  color: #000000;
}

.price__delivery {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: "Inter", sans-serif;
  color: #000000;
}

.price__delivery+.price__delivery {
  margin-bottom: 35px;
}

.price__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #f36223;
  border-radius: 4px;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  color: white;
  gap: 15px;
  transition: 0.4s;
  cursor: pointer;
}

.price__button img {
  position: absolute;
  top: 19px;
  left: 55px;
  width: 24px;
  height: 24px;
  background: url("../images/basket.svg") center/contain no-repeat;
}

.price__button:hover {
  background-color: #da4a0c;
}

.price__button:active {
  background-color: #a93a09;
}

.ads-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ads-block__title {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: "Inter", sans-serif;
  color: #888888;
}

.frame {
  width: 420px;
  height: 300px;
  border: 1px dashed #888888;
}

.main-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: "Inter", sans-serif;
}

.section-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  font-family: "Inter", sans-serif;
  color: #000000;
}

.models-colors__list {
  display: flex;
  gap: 10px;
  padding-left: 0;
  margin-bottom: 30px;
  list-style-type: none;
}

.models-colors__item {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #888888;
  border-radius: 4px;
  cursor: pointer;
}

.models-colors__item:hover {
  background-color: #f2f2f2;
}

.models-colors__item--selected {
  border: 2px solid #f36223;
}

.models-colors__item:active {
  border: 2px solid #a93a09;
}

.models-colors__item>label {
  cursor: pointer;
}

.models-colors__button {
  visibility: hidden;
  position: absolute;
}

.models-colors__image {
  height: 60px;
}

.memory-configuration__list {
  display: flex;
  gap: 10px;
  padding-left: 0;
  list-style-type: none;
}

.memory-configuration__item {
  min-width: 94px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #888888;
  border-radius: 4px;
  cursor: pointer;
}

.memory-configuration__item--selected {
  border: 1px solid #f36223;
  outline: solid 1px #f36223;
}

.memory-configuration__item:hover {
  background-color: #f2f2f2;
}

.memory-configuration__item>label {
  cursor: pointer;
}

.memory-configuration__item:active {
  border: 1px solid #a93a09;
  outline: solid 1px #a93a09;
}

.memory-configuration__button {
  visibility: hidden;
  position: absolute;
}

.features__list {
  margin-bottom: 30px;
  padding-left: 0;
  list-style-position: inside;
}

.features__item::marker {
  width: 10px;
  height: 10px;
  color: #888888;
}

.features__link_accent {
  color: #018ad2;
  text-decoration: none;
}

.features__link_accent:hover {
  color: #c00;
}

.description {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.description__text {
  margin: 0;
}

.comparison {
  margin-bottom: 50px;
}

.comparison__table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #888888;
}

.comparison__tablehead {
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 19px;
  color: #000000;
  border: 1px solid #888888;
}

.comparison__row:hover {
  background-color: #f2f2f2;
}

.comparison__tablebody-cell {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-right: 1px solid #888888;
}

.reviews {
  max-width: 880px;
  padding-bottom: 100px;
}

.reviews__header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__count {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.reviews__number {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  font-family: "Inter", sans-serif;
  color: #888888;
}

.reviews__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  font-family: "Inter", sans-serif;
}

.review__container {
  display: flex;
  margin-bottom: 40px;
}

.review__container+.review__container {
  margin-bottom: 60px;
}

.review__img {
  margin-right: 30px;
}

.review__photo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.review__content {
  border-bottom: 1px dashed #888888;
}

.review__content_last {
  border: none;
}

.review__author {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
}

.review__stars {
  margin-bottom: 20px;
}

.review__star {
  width: 30px;
  height: 30px;
}

.review__experience,
.review__advantages,
.review__disadvantages {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: "Inter", sans-serif;
}

.review__experience,
.review__advantages {
  margin-bottom: 10px;
}

.review__disadvantages {
  margin-bottom: 40px;
}

.review__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.review__fieldset {
  border: none;
}

.review__form-legend {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  font-family: "Inter", sans-serif;
  color: #000000;
}

.review__form-top {
  display: flex;
  justify-content: space-between;
}

.input-name {
  position: relative;
}

.review__form-name {
  width: 495px;
  height: 49px;
  padding: 15px 20px;
  margin-right: 33px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: "Inter", sans-serif;
  color: #888888;
  border: 1px solid #888888;
  box-sizing: border-box;
}

.error-name {
  position: absolute;
  top: 48px;
  width: 456px;
  padding: 8px 20px;
  background-color: #da4a0c;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  opacity: 0;
}

.input-score {
  position: relative;
}

.review__form-rate {
  width: 175px;
  height: 49px;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: "Inter", sans-serif;
  color: #888888;
  border: 1px solid #888888;
  box-sizing: border-box;
}

.review__form-rate:hover,
.review__form-rate:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: "Inter", sans-serif;
  color: #000000;
  border: 1px solid #000000;
  outline: 0;
}

.error-rate {
  position: absolute;
  top: 48px;
  width: 135px;
  padding: 8px 20px;
  background-color: #da4a0c;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  opacity: 0;
}

.review__form-text {
  width: 710px;
  height: 190px;
  padding: 15px 20px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: "Inter", sans-serif;
  color: #888888;
  border: 1px solid #888888;
  box-sizing: border-box;
  resize: none;
}

.review__button {
  display: block;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: "Inter", sans-serif;
  background-color: #f36223;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.review__button:hover {
  background-color: #da4a0c;
}

.review__button:active {
  background-color: #a93a09;
}

.footer {
  padding: 30px 50px;
  background-color: #f2f2f2;
}

.footer__flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info {
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  line-height: 17px;
  color: #000000;
}

.footer__copyright {
  display: block;
  font-weight: 700;
}

.footer_accent {
  color: #f36223;
}

.footer__phone {
  display: block;
}

.footer__link {
  color: #008cf0;
}

.footer__link:hover {
  color: #f36223;
}

.footer__link_up {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.footer__link_up:hover {
  color: #f36223;
}

/* Адаптив */

@media (max-width: 1024px) {
  .wrapper {
    max-width: 1024px;
    padding: 0 15px;
  }

  .gallery__item {
    height: 272px;
  }

  .gallery__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .flex-container {
    gap: 40px;
  }

  .comparison {
    display: none;
  }

  .review__photo {
    width: 100px;
    height: 100px;
  }

  .review__form {
    align-items: start;
  }

  .review__star {
    width: 20px;
    height: 20px;
  }
}