.footer {
  padding: 30px 50px;
  background-color: #f2f2f2;
}

.footer__flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info {
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  line-height: 17px;
  color: #000000;
}

.footer__copyright {
  display: block;
  font-weight: 700;
}

.footer_accent {
  color: #f36223;
}

.footer__phone {
  display: block;
}

.footer__link {
  color: #008cf0;
}

.footer__link:hover {
  color: #f36223;
}

.footer__link_up {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.footer__link_up:hover {
  color: #f36223;
}