.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  position: fixed;
  z-index: 100;
  max-width: 1400px;
  height: 80px;
  margin: 0 auto;
  right: 0;
  left: 0;
  padding-right: 32px;
  padding-left: 20px;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #010541;
}

.header__logo {
  width: 312px;
}

.header__logo-title {
  position: absolute;
  left: 65px;
  top: 25px;
}

.header__button {
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__button svg:hover {
  fill: #da4a0c;
}

.header__button svg:active {
  fill: #a93a09;
}

.header__button-count {
  width: 14px;
  height: 14px;
  position: absolute;
  top: -5px;
  left: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  background-color: #da4a0c;
  color: #ffffff;
  border: none;
  border-radius: 10px;
}